:root {
  --fontColor: rgb(25, 158, 254);
  --background: black;
  --navColor: rgb(48, 48, 48);
}
body {
  font-family: "Quantico", sans-serif !important;
  background-color: var(--background) !important;
  color: var(--fontColor) !important;
}
