ul {
  background-color: rgb(48, 48, 48);
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.info {
  margin-left: auto;
  font-size: 1.1rem;
}
.navbar {
  background-color: rgb(48, 48, 48) !important;
}
button {
  font-size: 1.1rem !important;
}
.navbar-brand {
  text-size-adjust: 20px !important;
}
.nav-item-cart {
  margin-left: 10px !important;
}
