.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.container {
  display: flex;
  border: 1px solid white;
}
.header-form {
  border: 1px solid white;
}
.wrapper {
  flex-grow: 1;
}

input {
  height: 20px;
  width: 500px;
}
button {
  padding: 4px;
  margin: 4px;
}
